@model Category;

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body  p-4">
<form asp-action="Edit" method="post">
    <div class="border p-3 mt-4">
        
        <!-- Validation Summary-->
        @*<div asp-validation-summary="All" class="my-2 text-danger lead fs-6"></div>*@

        <!-- Category Name -->
        <div class="form-floating py-2">
            <input class="form-control border-0 shadow " asp-for="Name" class="form-control" />
            <label class="ms-2" asp-for="Name" class="p-0"></label>
            <span asp-validation-for="Name" class="lead text-danger fs-6 my-2"></span>
        </div>

        <!-- Display Order-->
        <div class="form-floating py-2">
            <input class="form-control border-0 shadow" asp-for="DisplayOrder" class="form-control" />
            <label class="ms-2" asp-for="DisplayOrder" class="p-0"></label>
            <span asp-validation-for="DisplayOrder" class="lead text-danger fs-6 my-2"></span>
        </div>

        <!-- Submit button-->
        <div class="container row mt-4 text-center mx-auto">
            <!-- Submit-->
            <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary rounded-pill col-5 col-md-3">Back To list</a>
            <!-- Back to index-->
            <button type="submit" class="btn btn-primary px-3 rounded-pill ms-3  col-6 col-md-3">Update</button>
        </div>

    </div>
</form>
    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
 }